<?xml version="1.0" ?>

<launch>
<arg name="local_planner" default="dwb" doc="Local planner can be either dwa, base, teb or pose"/>
<arg name="prefix" default= "" />
<arg name="with_virtual_walls" default="true" doc="Enables usage of virtual walls when set. Set to false when running SLAM." />
<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

<!-- global -->

        <param name="SBPLLatticePlanner/primitive_filename" value="$(find magni_nav)/mprim/unicycle_highcost_5cm.mprim" /> 
        <rosparam file="$(find magni_nav)/config/move_base_common_params.yaml" command="load" />

        <rosparam file="$(find magni_nav)/config/sbpl_global_params.yaml" command="load" />


        <rosparam file="$(find magni_nav)/config/$(arg local_planner)_local_planner_params.yaml" command="load" />

<!--
 <rosparam file="$(find magni_nav)/param/base_local_planner_param.yaml" command="load" /> 
-->

   <rosparam file="$(find magni_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="true" />


        <rosparam file="$(find magni_nav)/config/costmap_global_params.yaml" command="load" /> 


        <rosparam file="$(find magni_nav)/config/costmap_global_params_plugins_virtual_walls.yaml" command="load" if="$(arg with_virtual_walls)" />
        <rosparam file="$(find magni_nav)/config/costmap_global_params_plugins_no_virtual_walls.yaml" command="load" unless="$(arg with_virtual_walls)" />


<!-- local -->
<!--
<rosparam file="$(find magni_nav)/param/costmap_common_param.yaml" command="load" ns="global_costmap" subst_value="true"/>
 <rosparam file="$(find magni_nav)/param/global_costmap_param.yaml" command="load" subst_value="true" /> 
-->

<rosparam file="$(find magni_nav)/param/costmap_common_param.yaml" command="load" ns="local_costmap" subst_value="true" />

<rosparam file="$(find magni_nav)/param/local_costmap_param.yaml" command="load" subst_value="true" />

<!--
<rosparam file="$(find magni_nav)/config/costmap_local_params_plugins_virtual_walls.yaml" command="load" if="$(arg with_virtual_walls)" />
<rosparam file="$(find magni_nav)/config/costmap_local_params_plugins_no_virtual_walls.yaml" command="load" unless="$(arg with_virtual_walls)" />
-->

<!--
<rosparam file="$(find mir_navigation)/config/move_base_common_params.yaml" command="load" />
        <rosparam file="$(find mir_navigation)/config/sbpl_global_params.yaml" command="load" />
        <rosparam file="$(find mir_navigation)/config/$(arg local_planner)_local_planner_params.yaml" command="load" /> -->
 <!-- <rosparam file="$(find magni_nav)/config/costmap_global_params_plugins_virtual_walls.yaml" command="load" /> -->

  <remap from="map" to="/map" />
<remap from="marker" to="move_base_node/DWBLocalPlanner/markers" />
  </node>


</launch>

